{% extends 'base.html' %}

{% block changingContent %} 

<h1>About me</h1>
<p>Hey there! My name is Micaela, I'm deeply passionate about technology and constantly exploring new skills in programming.<br> I've developed a solid foundation in JavaScript and Python during my time at Coderhouse. Learning and evolving in the tech world is what keeps me going!
 I thrive in collaborative environments, where my proactive and responsible approach shines through. I enjoy pushing boundaries and ensuring every project I tackle is a success.    
<br>My journey in tech is fueled by a desire for continuous learning and growth. I'm always seeking new challenges to expand my knowledge and enhance my skills as a developer.</p>

{% endblock changingContent %}