{% extends 'base.html' %}
{% load static %}
{% block changingContent %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog's Search</title>
</head>
<body>
    <form action="{% url 'search' %}" method="GET"> {% csrf_token %}
        <p>Please enter the blog's title: <input type="text" name="title" id="title"></p>
        <button type="submit">Search</button>
        <button>
            <a href="{% url 'Home' %}">Home page</a>
        </button>
    </form>
</body>
</html>
{% endblock changingContent %}